<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lena's blog</title>
</head>
<body>
	<div>
		<h1><a href="/">Lena's Blog</a></h1>
	</div>

	<div>
		<p>published:20.02.2020, 12:14</p>
		<h2><a href="/">My first post</a></h1>
		<p> What would our lives be like if Amazon or Tinder ran an entire city?</p>
	</div>

	<div>
        <p>published: 20.02.2020, 12:20</p>
        <h2><a href="">My second post</a></h2>
        <p>The 'ancestral diet' doesn't make sense and relies on lazy stereotypes.</p>
    </div>

    <p>This is my page</p>
</body>
</html>